<!DOCTYPE html>
<html>

<head>
    <title>Test GPT-4</title>
    
    <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css">
    <link rel="stylesheet" href="https://unpkg.com/concrete.css@2.0.3/concrete.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/mathjax_config.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

</head>

<body>
    <main>
        <nav>
            <a href="/">Home</a>
            <a href="/dataset">Dataset Questions</a>
            <a href="/custom">Custom Questions</a>
        </nav>
        <h1>Test GPT</h1>
        <p id="question-counter"></p>


        <!-- <p> a question and see if GPT can answer it correctly.</p> -->


        <h3 id="subject"></h3>
        <p id="question"></p>
        <!-- <p id="answers"></p> -->
        <!-- <h4>Choices</h4> -->
        <ol id="choices-list" type="A"></ol>
        <em id="correct-answer"></em>

        <p>How likely do you think it is that GPT-4 can get this question right?</p>
        <div class="input_wrapper">
            <input type="range" min="1" max="100" value="50" class="slider">
            <input type="number" class="probability" min="0" max="100" value="50"/>
        </div>



        <button id="submit">Submit</button>

        <div id="model-displays">
        </div>

        <div id="correctness" style="display: none;">
            <p>Was the answer correct?</p>
            <input type="radio" id="yes" name="correctness" value="true">
            <label for="yes">Yes</label><br>
            <input type="radio" id="no" name="correctness" value="false">
            <label for="no">No</label>
        </div>

        <button id="score-btn" style="display: none;">Calculate Score</button>
        <p id="score"></p>
        <button id="generate-question">Next Question</button>

        <h4>Prompt</h4>
        <blockquote id="prompt">
        </blockquote>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/dataset_qs.js"></script>


</body>

</html>